In [8]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [47]:
orders = pd.read_csv("./data/orders.csv")

In [14]:
orders.shape

(51290, 24)

In [53]:
orders.columns

Index(['Row.ID', 'Order.ID', 'Order.Date', 'Ship.Date', 'Ship.Mode',
       'Customer.ID', 'Customer.Name', 'Segment', 'Postal.Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product.ID', 'Category',
       'Sub.Category', 'Product.Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping.Cost', 'Order.Priority'],
      dtype='object')

In [106]:
orders['Profit'] = orders['Profit'].apply(lambda x :  x.replace("$", ""))
orders['Profit'] = orders['Profit'].apply(lambda x :  x.replace("," , ""))
orders.Profit= orders.Profit.astype(float)

In [50]:
orders['Sales'] = orders['Sales'].apply(lambda x :  x.replace("$", ""))
orders['Sales'] = orders['Sales'].apply(lambda x :  x.replace("," , ""))
orders.Sales= orders.Sales.astype(float)

In [76]:
orders[["mm", "day", "year"]] = orders["Order.Date"].str.split("/", expand=True)

In [98]:
orders.groupby('mm')['Sales'].count().sort_values(ascending=False)

# November has the most orders

TypeError: sort_values() got an unexpected keyword argument 'by'

In [101]:
orders.groupby(['Category','mm']).agg({'Quantity':'sum'}).sort_values(by=['Category', 'Quantity'],ascending=False)

                    Quantity
Category        mm
Technology      12      4396
                11      4379
                9       3796
                6       3563
                8       3518
                10      3395
                5       2542
                7       2271
                4       2070
                3       2009
                1       1642
                2       1595
Office Supplies 11     13529
                12     13245
                9      12572
                8      11019
                6      11012
                10      9585
                5       8170
                7       6618
                4       6391
                3       6283
                1       5480
                2       4340
Furniture       12      4506
                11      4471
                9       4111
                6       3434
                10      3323
                8       3059
                5       2484
                7       2157
                3       2098
                4       2005
                1       1750
                2       1494

In [114]:
#problem 3.1
profit_below = orders[orders.Profit <0]
profit_below.groupby('year')['Profit'].sum()

year
12   -169308.97
13   -195342.99
14   -245908.22
15   -310089.68
Name: Profit, dtype: float64

In [140]:
returns = pd.read_csv("./data/returns.csv")
returns_orders = pd.merge(orders, returns, left_on='Order.ID', right_on= 'Order ID' , how='right')
returns_orders.drop('Order ID', axis=1, inplace=True)

In [148]:
np.sum(returns_orders.groupby(['Customer.Name', 'Returned'])['Row.ID'].count() >1)

448